<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="stylesheet" href="css/base.css" type="text/css">
    <link rel="stylesheet" href="css/myOrder.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

</head>
<body>
<div id="window">
    <!--头部-->
    <div class="head">
        <!--顶部导航--->
        <div id="shortcut">
            <ul>
                <li class="st2"><i class="iconfont"></i><a href="index.html">京东首页</a></li>
                <li>
                    <i class="iconfont iconfont-location"></i>
                    福建
                </li>
                <li class="st1">
                    <div class="username">jd_130039jiq</div>
                    <div class="plus">plus</div>
                    <i class="iconfont"></i>
                </li>
                <li class="spacer"></li>
                <li>我的订单<i class="iconfont"></i></li>
                <li class="spacer"></li>
                <li>我的京东</li>
                <li class="spacer"></li>
                <li>京东会员</li>
                <li class="spacer"></li>
                <li>
                    企业采购
                    <i class="iconfont"></i>
                </li>
                <li class="spacer"></li>
                <li>客户服务<i class="iconfont"></i></li>
                <li class="spacer"></li>
                <li>网站导航<i class="iconfont"></i></li>
                <li class="spacer"></li>
                <li>手机京东</li>
            </ul>
        </div>
        <div id="header">
            <div class="logo">
                <div class="logoPic"></div>
                <div class="fore1">我的京东</div>
                <div><a href="index.html" target="_blank" class="fore2">返回京东首页</a></div>
            </div>
            <div class="navitems">
                <ul>
                    <li>首页</li>
                    <li class="account">账户设置<i class="iconfont" style="padding-left: 5px"></i></li>
                    <li class="comment">评价<i class="iconfont" style="padding-left: 5px"></i>
                        <div class="comment_ul">
                            <ul>
                                <li class="comment_ul_li"><a>待评价</a></li>
                                <li class="comment_ul_li"><a>服务评价</a></li>
                                <li class="comment_ul_li"><a>待追评</a></li>
                                <li class="comment_ul_li"><a>已评价</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>消息</li>
                </ul>
            </div>
            <div class="search">
                <form>
                    <input type="text" name="searchText" class="aa">
                    <button class="search1" value="search">搜索</button>
                </form>
                <div class="shopping">
                    <i class="iconfont"></i>
                    <span>我的购物车</span>
                    <i class="shopping-amount">0</i>
                    <i class="rightJ">></i>
                </div>
            </div>
        </div>

    </div>
    <!--内容区-->
    <div class="container">
        <div id="content">
            <div id="menu">
                <ul>
                    <li class="menu_item_1">订单中心</li>
                    <li><a>我的订单</a></li>
                    <li><a>我的活动</a></li>
                    <li><a>评价晒单</a></li>
                    <li><a>我的常购商品&nbsp;<img src="img/new.png" width="24px" height="11px"></a></li>
                    <li><a>代下单</a></li>
                </ul>
                <ul class="menu_item">
                    <li class="menu_item_1">关注中心</li>
                    <li><a>关注的商品</a></li>
                    <li><a>关注的店铺</a></li>
                    <li><a>关注的专辑</a></li>
                    <li><a>收藏的内容&nbsp;<img src="img/new.png" width="24px" height="11px"></a></li>
                    <li><a>关注的活动</a></li>
                </ul>
                <ul class="menu_item">
                    <li class="menu_item_1">资产中心</li>
                    <li><a>小金库</a></li>
                    <li><a>京东白条</a></li>
                    <li><a>领货码</a></li>
                    <li><a>余额</a></li>
                    <li><a>红包</a></li>
                    <li><a>银行卡</a></li>
                    <li><a>优惠卷</a></li>
                    <li><a>礼品卡</a></li>
                    <li><a>京豆</a></li>
                    <li><a>京东钢镚&nbsp;<img src="img/new.png" width="24px" height="11px"></a></li>
                </ul>
                <ul class="menu_item">
                    <li class="menu_item_1">特色业务</li>
                    <li><a>我的营业厅</a></li>
                    <li><a>京东通信</a></li>
                    <li><a>定期购</a></li>
                    <li><a>我的回收单</a></li>
                    <li><a>节能补贴</a></li>
                    <li><a>医药服务</a></li>
                    <li><a>流量加油站</a></li>
                    <li><a>黄金托管</a></li>
                    <li><a>海外房产</a></li>
                    <li><a>我的海囤全球</a></li>
                    <li><a>装修服务</a></li>
                    <li><a>我的拍卖</a></li>
                    <li><a>我的集运</a></li>
                    <li><a>耗材自动递送</a></li>
                    <li><a>京东机票</a></li>
                </ul>
                <ul class="menu_item">
                    <li class="menu_item_1">客户服务</li>
                    <li><a>返修退货款</a></li>
                    <li><a>价格保护</a></li>
                    <li><a>意见建议</a></li>
                    <li><a>我的问答</a></li>
                    <li><a>购买咨询</a></li>
                    <li><a>交易纠纷</a></li>
                    <li><a>京东维修</a></li>
                    <li><a>我的发票</a></li>
                    <li><a>举报中心</a></li>
                </ul>
                <ul class="menu_item">
                    <li class="menu_item_1">设置</li>
                    <li><a>个人信息</a></li>
                    <li><a>收货地址</a></li>
                </ul>
                <img src="img/huangbo.jpg" class="menu_item">
            </div>
            <div id="order01"><h3>我的订单</h3></div>
            <div id="order02">
                <div class="order02_01">
                    <div class="mt">
                        <ul>
                            <li class="mt_1"><a>全部订单</a></li>
                            <li class="mt_2"><a>待付款</a><i class="shopping-amount">{{waitPayCount}}</i></li>
                            <li class="mt_3"><a>待收货</a><i class="shopping-amount">{{waitReceiveCount}}</i></li>
                            <li class="mt_4"><a>待评价</a><i class="shopping-amount">{{waitCommentCount}}</i></li>
                            <li class="mt_5"><a style="color: black;padding-left: 25px">我的常购商品</a></li>
                            <li class="mt_6"><a style="width: 60px;padding-left: 22px">订单回收单</a></li>
                        </ul>
                    </div>
                    <div class="extra">
                        <form>
                            <input type="text" name="searchText" class="extra_search" value="商品名称/订单号"
                                   v-model="searchText">
                            <div id="search" style="width: 30px;float: left;text-align: center;height: 25px">搜索</div>
                            <!--                            <button class="extra_search1" value="search"><i class="iconfont"></i></button>-->
                            <span class="extra_3">高级<i class="iconfont"></i></span>
                        </form>
                    </div>
                </div>
                <div class="mc">
                    <div class="order_head">
                        <div class="thread_th1">
                            <div class="thread_th1_1">近三个月订单<i class="iconfont"></i></div>
                            <div class="thread_th1_2">订单详情</div>
                        </div>
                        <div class="thread_th2">收货人</div>
                        <div class="thread_th2">金额</div>
                        <div class="thread_th2"><span id="status">全部状态</span><i class="iconfont"></i>
                            <ul class="statul_ul">
                                <li class="statul_ul_li1"><a>全部状态</a></li>
                                <li class="statul_ul_li2"><a>等待付款</a></li>
                                <li class="statul_ul_li3"><a>等待收货</a></li>
                                <li class="statul_ul_li4"><a>已完成</a></li>
                                <li class="statul_ul_li5"><a>已取消</a></li>
                            </ul>
                        </div>
                        <div class="thread_th2">操作</div>
                    </div>

                    <div id="myOrder">
                        <div class="order" v-for="(order,index) in orderList">
                            <div class="tbody_tr1_td1"></div>
                            <div class="tbody_tr2_td1">
                                <span class="tbody_tr2_td1_1">{{order.creat_time}}</span>
                                <span class="tbody_tr2_td1_2">订单号:&nbsp;&nbsp;<a>{{order.order_id}}</a></span>
                                <div class="tbody_tr2_td1_3">京东<a title="联系客服"><img src="img/kefu.png"></a></div>
                                <img src="img/delete.png" id="deletelogo" style="margin-left: 550px;margin-top: 4px"
                                     title="删除" v-on:click="deleteOrder(index)">
                            </div>
                            <div class="showGoods" v-for="(goods,index1) in order.orderitemSet">
                                <div class="tbody_tr3_td1_1">
                                    <a>
                                        <div class="goodsPic" v-bind:title="goods.goods_name">
                                            <img v-bind:src="goods.img_url" style="width: 60px;height: 60px">
                                        </div>
                                    </a>
                                    <a>
                                        <div class="goodsName" v-bind:title="goods.goods_name">
                                            {{goods.goods_name}}
                                        </div>
                                    </a>
                                    <div class="sameGoods"><img src="img/lajitong.png"><span>&nbsp;&nbsp;相似商品</span>
                                    </div>
                                    <div class="goodNum">x{{goods.goods_num}}</div>
                                </div>
                                <div class="tbody_tr3_td2">
                                    <div class="tooltip">
                                            <span id="name" v-if="index1==0" @mouseover="getIndex(index)"
                                                  @mouseout="setIndex(index)">{{order.address.receive_name}}&nbsp;&nbsp;
                                                <img src="img/people.png">
                                            </span>
                                        <div class="prompt-02" v-if="index1==0&&index==vm.index">
                                            <strong>{{order.address.receive_name}}</strong>
                                            <p>{{order.provice}}{{order.city}}{{order.district}}{{order.address.street}}</p>
                                            <p>{{order.address.telephone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tbody_tr3_td3">
                                    <div class="amount">
                                        <span v-if="index1==0">总额￥{{order.order_money}}</span>
                                        <hr v-if="index1==0" style="margin:5px auto;width: 90px;opacity: 0.5">
                                        <span v-if="index1==0">在线支付</span>
                                    </div>
                                </div>
                                <div class="tbody_tr3_td4">
                                    <div class="amount">
                                        <span class="status1" v-if="index1==0">{{order.order_status}}</span>
                                        <br>
                                        <a><span v-if="index1==0">订单详情</span></a>
                                    </div>
                                </div>
                                <div class="tbody_tr3_td5">
                                    <div class="buy" v-if="index1==0">
                                        <span>立即购买</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="page" id="page">
                        <input class="btn1" type="button" value="上一页" onclick="">
                        <input class="btn1" type="button" value="下一页" onclick="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <div id="footer">
        <div id="service-2014">
            <div class="slogan">
                <img src="img/service_items_1.png">
                <img src="img/service_items_2.png">
                <img src="img/service_items_3.png">
                <img src="img/service_items_4.png">
            </div>
            <div class="w">
                <dl>
                    <dt>购物指南</dt>
                    <dd>
                        <div><a>购物流程</a>
                        </div>
                        <div><a>会员介绍</a>
                        </div>
                        <div><a>生活旅行/团购</a>
                        </div>
                        <div><a>常见问题</a></div>
                        <div><a>大家电</a>
                        </div>
                        <div><a>联系客服</a></div>
                    </dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd>
                        <div><a>上门自提</a>
                        </div>
                        <div><a>211限时达</a>
                        </div>
                        <div><a>配送服务查询</a>
                        </div>
                        <div><a>配送费收取标准</a>
                        </div>
                        <div><a>海外配送</a></div>
                    </dd>
                </dl>
                <dl class="fore3">
                    <dt>支付方式</dt>
                    <dd>
                        <div><a>货到付款</a>
                        </div>
                        <div><a>在线支付</a>
                        </div>
                        <div><a>分期付款</a>
                        </div>
                        <div><a>邮局汇款</a>
                        </div>
                        <div><a>公司转账</a>
                        </div>
                    </dd>
                </dl>
                <dl class="fore4">
                    <dt>售后服务</dt>
                    <dd>
                        <div><a>售后政策</a>
                        </div>
                        <div><a>价格保护</a>
                        </div>
                        <div><a>退款说明</a>
                        </div>
                        <div><a>返修/退换货</a>
                        </div>
                        <div><a>取消订单</a>
                        </div>
                    </dd>
                </dl>
                <dl class="fore5">
                    <dt>特色服务</dt>
                    <dd>
                        <div><a>夺宝岛</a></div>
                        <div><a>DIY装机</a></div>
                        <div><a>延保服务</a></div>
                        <div><a>京东E卡</a></div>
                        <div><a>京东通信</a></div>
                        <div><a>京东JD+</a></div>
                    </dd>
                </dl>
                <div id="coverage">
                    <div class="dt">
                        京东自营覆盖区县
                    </div>
                    <div class="dd">
                        <p>京东已向全国2649个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
                        <p class="ar"><a>查看详情&nbsp;&gt;</a>
                        </p>
                    </div>
                </div>
                <span class="clr"></span>
            </div>
        </div>
        <div class="copyright">
            <a target="_blank" href=""><img src="img/ga.png"> 京公网安备11000002000088号</a>&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;
            <a target="_blank" href="">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>&nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大120007号<br>互联网出版许可证编号新出网证(京)字150号&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="" target="_blank">出版物经营许可证</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a>&nbsp;&nbsp;|&nbsp;&nbsp;违法和不良信息举报电话：4006561155<br>Copyright&nbsp;©&nbsp;2004&nbsp;-&nbsp;2016&nbsp;&nbsp;京东JD.com&nbsp;版权所有&nbsp;&nbsp;|&nbsp;&nbsp;消费者维权热线：4006067733<br>京东旗下网站：<a
                href="" target="_blank">京东钱包</a>
        </div>
    </div>
</div>
</body>
</html>
<script src="js/jquery-3.4.1.min.js"></script>

<script>
    var order_status = "";
    var order_id;
    var pageNum = 1;
    var pageCount = 1;
    var vm = new Vue({
        el: ".mc",
        data: {
            orderList: "",
            index: -1,
        },
        methods: {
            //删除订单
            deleteOrder: function (i) {
                order_id = this.orderList[i].order_id;
                if (confirm('确实要删除该订单吗?')) {
                    this.orderList.splice(i, 1);
                    deleteOrderitem();
                    deleteOrder();
                }
            },
            //设置goodsSet的值
            getIndex: function (i) {
                vm.index = i;
            },
            setIndex: function (i) {
                vm.index = -1;
            }
        }
    })
    var vm1 = new Vue({
        el: ".order02_01",
        data: {
            waitPayCount: 0,
            waitReceiveCount: 0,
            waitCommentCount: 0,
            searchText: "",
        }
    })



    //获取订单
    function getData1() {
        $.ajax({
            url: "http://localhost:8080/getOrder1",
            type: "post",
            dataType: "json",
            data: {'user_id': 1, 'order_status': order_status, 'pageNum': pageNum, 'pageSize': 2,"search_text": vm1.searchText},
            success: function (data) {
                vm.orderList = data.orderList;
                pageCount = data.pageCount;
                if (data.orderList.length == 0) {
                    alert("没有" + order_status + "的订单哦！");
                }
            }
        });
    }

    function getOrderCount(status) {
        $.ajax({
            url: "http://localhost:8080/getOrderCount",
            type: "post",
            dataType: "json",
            data: {'user_id': 1, 'order_status': status},
            success: function (data) {
                if (status == "等待付款") {
                    vm1.waitPayCount = data;
                } else if (status == "待收货") {
                    vm1.waitReceiveCount = data;
                } else if (status = "待评论") {
                    vm1.waitCommentCount = data;
                }
            }

        });
    }

    //删除订单表
    function deleteOrder() {
        $.ajax({
            url: "http://localhost:8080/deleteOrder",
            type: "post",
            dataType: "json",
            data: {'order_id': order_id},
            success: function (data) {
                if (data > 0) {
                    alert("成功删除订单");
                }

            }

        });
    }

    //删除订单详情表
    function deleteOrderitem() {
        $.ajax({
            url: "http://localhost:8080/deleteOrderItem",
            type: "post",
            dataType: "json",
            data: {'order_id': order_id},
            success: function (data) {
            }

        });
    }


    $(function () {
        getData1();
        getOrderCount("等待付款");
        getOrderCount("待收货");
        getOrderCount("待评价");


        $(".comment_ul").hide();
        $(".statul_ul").hide();


        $(".comment").hover(function () {
            $(this).css({"background-color": "white", "color": "black"});
            $(".comment_ul").show();
        }, function () {
            $(this).css({"background-color": "#e2331a", "color": "white"});
            $(".comment_ul").hide();
        })

        $(".thread_th2").hover(function () {
            $(".statul_ul").show();
        }, function () {
            $(".statul_ul").hide();
        })
        //实现下一页功能
        $("input[value='下一页']").click(function () {
                if (pageNum != pageCount) {
                    pageNum++;
                    getData1();
                }else{
                    alert("这已经是最后一页了");
                }
        })
        //实现上一页功能
        $("input[value='上一页']").click(function () {
                if (pageNum > 1) {
                    pageNum--;
                    getData1();
                }else{
                    alert("这是第一页了");
                }
        })

        //选择订单状态
        //全部状态
        $(".statul_ul_li1").click(function () {
            $("#status").text($(this).text());
            order_status = "";
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        })
        //等待付款
        $(".statul_ul_li2").click(function () {
            $("#status").text($(this).text());
            order_status = $(this).text();
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        })
        //等待收货
        $(".statul_ul_li3").click(function () {
            $("#status").text($(this).text());
            order_status = $(this).text();
            vm1.searchText = "";
            pageNum = 1;
            getData1();

        })
        //已完成
        $(".statul_ul_li4").click(function () {
            $("#status").text($(this).text());
            order_status = $(this).text();
            vm1.searchText = "";
            pageNum = 1;
            getData1();

        })
        //已取消
        $(".statul_ul_li5").click(function () {
            $("#status").text($(this).text());
            order_status = $(this).text();
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        }),
            //全部订单
            $(".mt_1").click(function () {
                order_status = "";
                vm1.searchText = "";
                $("#status").text("全部状态");
                pageNum = 1;
                getData1();
            })
        //等待付款
        $(".mt_2").click(function () {
            order_status = '等待付款';
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        })
        //待收货
        $(".mt_3").click(function () {
            order_status = '待收货';
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        })
        $(".mt_4").click(function () {
            order_status = '待评价';
            vm1.searchText = "";
            pageNum = 1;
            getData1();
        })

        $("input[name='searchText']").click(function () {
            $(this).val("");
        })
        $("input[name='searchText']").blur(function () {
            $(this).val("商品名称/订单号");
        })
        $("#search").click(function () {
            pageNum =1;
            order_status="";
            getData1();
        })

    })

</script>