
li{width: 77px;height: 100%}
span{width: 30px;height: 30px}
.index{width: 100%;height: 1500px;background-color: #e3e4e5}
.head{width: 100%;height: 172px;border: 1px solid #eee;background-color: white}
#shortcut{width: 100%;height: 31px;background-color: #e3e4e5;}
#shortcut ul{width: 1100px;height: 30px;margin: auto;font-size: 12px;}
#shortcut ul li{float: left;margin-left: 10px;line-height: 30px;text-align: center;}
.st1{margin-right: 90px;}
.st2{width: 100px;}
.st3{color: red}
.spacer{overflow: hidden;margin: 10px 1px;width: 1px;height: 15px;background-color: #ccc;}
.logo{width:190px;height: 120px;background-image: url("../image/logo.png");margin-left: 150px;padding-top: 10px;float: left}
.search{width:453px;height: 33px;background-color: #c81623;float: left;margin-top: 30px;margin-left: 40px;position: relative}
.aa{width: 400px;height: 25px;margin: 2px}
.search1{width: 50px;height: 34px;background-color: #c81623;float: left;margin-top: 29px;margin-left: -5px;position: absolute;top:-30px;border: 1px solid #c81623}
button .iconfont{font-size: 20px;color: white}
.shopping{width: 132px;height: 36px;margin-left: 15px;margin-top: 29px;float: left;background-color: white;border: 1px solid #eee}
.shopping .iconfont{font-size: 20px;margin-left: 10px;margin-top: 10px;color: red;}
.shopping span{margin-left:10px;color: red}
.shopping-amount{position: relative;top: -8px;left: -83px;right: auto;display: inline-block;padding: 1px 3px;font-size: 12px;
    line-height: 12px;color: #fff;background-color: #e1251b;border-radius: 7px;min-width: 12px;text-align: center;}
#mobile_static{width: 76px;height: 76px;float: left;margin-left: 50px;margin-top: 10px;border: 1px solid #eee}
#mobile_static_info{width: 66px;height: 66px;margin:5px;background-image:url("../image/c.png");background-size: 66px 66px;background-repeat: no-repeat}
#hotwords{width: 500px;height: 20px;font-size: 10px;float: left;margin-left: 40px;margin-top: -15px}
.first1{width: 60px;float: left}
.first{color: #c81623;width: 69px;float: left}
#navitems{width: 900px;height: 40px;margin-left: 40px;float: left;margin-top: 10px}
#navitems li{line-height: 40px;text-align: center;font-size: 16px}
.navitems-1{width: 35px;height: 40px;float: left;padding-right: 15px;color: red;font-weight: bold}
.navitems-2{width: 50px;}
.navitems-3{width: 75px;color: black}
.mainInfo{width: 1010px;height: 480px;margin: auto;}
#cate_menu_item{width: 190px;height: 470px;float: left;border: 1px solid #eee;margin-top: 15px;background-color: white}
#focus_item_img{width: 590px;height: 470px;float: left;margin-top: 15px;margin-left: 15px;position: relative}
.focus_intm_img_lunbo{width: 100%;height: 100%;}
#next_lunbo_img,#pre_lunbo_img{width: 30px;height: 30px;position: absolute;font-size: 25px;top: 420px;left: 25px;
                                color: white;border-radius: 50%;line-height: 30px}
#pre_lunbo_img{left: 120px;}

#cate_menu_item li{font-size: 14px;}
#cate_menu_item li:hover{background-color: #cccccc}
.cate_menu_item_1{width: 190px;height: 25px;padding-left: 15px;margin-top: 15px}
.cate_menu_item_2{width: 190px;height: 25px;padding-left: 15px;}
#j_fs_co13{height: 470px;width: 190px;margin-left: 15px;margin-top: 15px;float: left;border: 1px solid #eee;background-color: white}
#user_inner{width: 190px;height: 102px;border: 1px solid #eee}
.user_inner_plus{width: 100%;height: 70px}
.user_show1{width: 40px;height: 40px;float: left;margin-top: 20px;margin-left: 20px}
.user_show1 img{border-radius: 50%;overflow: hidden;width: 40px;height: 40px}
.user_tip{width: 94px;height: 16px;margin-top: 20px;margin-right: 20px;float: right}
.user_ad{margin-top: 3px}
#news2{width: 190px;height: 130px;border: 1px solid #eee}
#service{width: 190px;height: 240px;background-color: white;}
.user_inner_plus1{width: 100%;height: 28px}
.user_profit{width: 70px;height: 25px;margin-left:15px;float: left;border-radius: 13px;
    text-align: center;line-height: 25px;color: white;background-color: #e1251b}
.user_profit1{color: #e5d790;background-color: black}
.user_inner_plus1 a:hover{background-color: #c81623;color: white;transition: background 0.3s ease, color 0.3s ease;}
.news_hd{width: 100%;height: 30px;font-size: 14px;position: relative}
.news_tit{width: 56px;height: 30px;line-height:30px;text-align:center;margin-left: 8px;font-size: 14px}
.news_more{width: 53px;eight: 21px;float: right;padding-right: 5px;position: absolute;top: 6px;right: -9px;font-size: 8px;color: #999}
.news_link{width: 180px;height: 16px;line-height: 16px;white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;color: #999;margin-bottom: 6px;}
.news_tag{position: relative;font-size: 12px;height: 16px;width: 35px;line-height: 16px;text-align: center;vertical-align: 0;
    color: #e1251b;background-color: rgba(225, 37, 27, 0.08);margin-right: 6px;margin-left: 10px}
.service_item{width: 63px;height: 55px;float: left}
.service_item_img{width: 28px;height: 28px;margin: 7px 17px}
.service_item_text{width: 63px;height: 27px;line-height: 27px;text-align: center;font-size: 14px;margin-top: -10px}
.seckill{width: 100%;height: 260px;border: 1px solid #eeeeee;margin-top: 33px;}
.seckill_info{width: 1004px;height: 100%;margin-left: 170px;float: left}
.seckill_info1{width: 190px;height: 100%;float: left;background-color: #c81623}
.seckill_info2{width: 208px;height: 100%;float: left;background-color: white}
.seckill_info1_1{width: 190px;height: 45px;margin-top:41px;color:white;font-size:30px;font-weight: bold;text-align: center}
.seckill_info1_2{width: 100%;height: 26px;margin-top: 91px;font-size: 14px;text-align: center;color: white}
.seckill_info1_2 span{font-weight: bold;font-size: 18px}
.seckill_info1_3{width: 100%;height: 30px;margin-top: 10px}
.hour{width: 30px;height: 30px;float: left;background-color: black;margin-left: 35px;text-align: center;font-size: 20px;color: white;line-height: 30px;font-weight: bold}
.min{margin-left: 0px}
.diandian{width: 16px;color: white;float: left;text-align: center;font-size: 20px;line-height: 30px;height: 30px}
.seckill_img{width: 140px;height: 140px;margin:25px 33px;}
.seckill_text{width: 160px;height: 18px;font-size: 12px;font-weight: normal;color: #333;transition: color ease 0.2s;
    overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: 20px;}
.seckill_price{width: 160px;height: 22px;margin:5px 20px;line-height: 22px;border: 1px solid #c81623}
.seckill_price i{ font-size: 12px;font-weight: normal;float: left;margin-left: 5px;text-align: center; background-color: #c81623}
.price_miaosha{width: 92px;height: 22px;float: left;font-size: 16px;font-weight: bold;text-align: center;background-color: #c81623;color: white;position: relative}
.before{content: ' ';width: 0;height: 0;border-width: 22px 8px 0 0;border-style: solid;border-color: transparent white transparent transparent;position: absolute;top: 0;left: 84px;}
.price_origin{width: 66px;height: 22px;float: left;background-color: white;text-decoration: line-through;}
.last_pic{width: 25px;height: 35px;float: left;background-color: rgba(0, 0, 0, 0.15);margin-top: 109px;border-top-right-radius: 18px;border-bottom-right-radius: 18px;border: 1px solid #eeeeee}
.next_pic{float: right;border-radius: 0px 0px 18px 18px}
.seckill_img1{width: 120px;height: 120px;margin:21px 35px;line-height: 21px}
.base{text-align: center;width: 170px;height: 21px;}
.item-info-title{font-size: 14px}
.item-info-price{font-size: 16px;color: black;font-weight: bold}
.item-info-type{   color: #e1251b;border-radius: 14px;width: 82px;height: 24px;box-sizing: border-box;line-height:22px;
 border: 1px solid #c81623;margin-left: 50px;margin-top: 5px;font-weight: bold}
.elevator{width: 60px;height: 420px;background-color: white;float: left;margin-left: 50px;position: fixed;right: 75px;top: 100px}
.elevator_1{width: 100%;height: 60px;font-size: 14px;color: #333;display: block;margin-top: 0px}
.elevator_1_text{width: 28px;height: 38px;display: block;padding-left: 15px;padding-top: 9px}
.elevator_1:hover{background-color: #c81623;}
.elevator a:hover{color: white}
#footerSearch{width: 100%;height: 54px;position: fixed;left: 0px;top: 0px;display: none;background-color: white}
.logo1{width:125px;height: 40px;background-image: url("../image/sprite.png");background-position:0px -120px;margin-left: 150px;padding-top: 10px;float: left;}
/*.seckill_text:hover{overflow: visible;position: relative;top: 30px;left: 50px;}*/
.shopping1{margin-top: 0px;margin-left: 50px}
.search2{margin-top: 0px;margin-left: 80px}